<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content >
    <ion-nav-bar class="top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-compass" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" width="myWidth" class="main-menu">
    <ion-content>
        <div class="main-menu-top-bar">
            <button class="close-button button button-icon button-clear ion-close-round" menu-toggle="left">
            </button>
        </div>
      <ion-list>
        <ion-item menu-close ng-repeat="t in themes" href="#/app/route/{{t.theme}}">
          {{t.theme}}
        </ion-item>
          <ion-item class="main-menu-all-route" menu-close href="#/app/route">
              Tous les parcours
          </ion-item>
      </ion-list>
        <div class="menu-scoring">
            <div class="menu-scoring-label">
                Vous avez exploré
            </div>
            <div class="menu-scoring-score">
                15%
            </div>
            <div class="menu-scoring-legend">
                des points de curiosité
            </div>
        </div>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu side="right" width="myWidth - 0">
    <ion-header-bar class="map-nav">
      <button class="button button-clear ion-chevron-left" menu-close="right">
      </button>
    </ion-header-bar>
        <ion-content scroll="false">
            <div data-tap-disabled="true">
                <leaflet  maxbounds="maxbounds" markers="markers" width="100%" height="100%"></leaflet>
            </div>
        </ion-content>
  </ion-side-menu>
</ion-side-menus>

