<ion-view view-title="">
  <ion-content scroll="false">
    <ion-scroll style="height: 100%; overflow-y:hidden ">
      <ion-refresher refreshing-icon=""
                     pulling-text="Tirer pour rafraîchir"
                     refreshing-text="Chargement..."
                     on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list>
       <ion-item ng-repeat="path in paths track by $index">
         <div>{{path[0].name}}</div>
         <div>{{path.distance | distance}}</div>
       </ion-item>
      </ion-list>
      <ion-infinite-scroll on-infinite="loadMore()" ng-if="!noMoreItemsAvailable" distance="1%"></ion-infinite-scroll>
    </ion-scroll>
  </ion-content>
</ion-view>
