<ion-view view-title="Parcours">
  <ion-nav-buttons side="right">
    <a class="button button-positive pull-right" ui-sref="app.map"><span><i class="ion-location"> Carte</i></span></a>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <ion-scroll scrollbar-y="false" class="refresher-scroll" style="height: 100%; overflow-y:hidden ">
      <ion-list>
        <ion-item>Hello!</ion-item>
        <ion-item href="#/detail">
          Link to detail page
        </ion-item>
        <ion-item>Hello!</ion-item>
        <ion-item href="#/detail">
          Link to detail page
        </ion-item>
        <ion-item>Hello!</ion-item>
        <ion-item href="#/detail">
          Link to detail page
        </ion-item> <ion-item>Hello!</ion-item>
        <ion-item href="#/detail">
          Link to detail page
        </ion-item> <ion-item>Hello!</ion-item>
        <ion-item href="#/detail">
          Link to detail page
        </ion-item> <ion-item>Hello!</ion-item>
        <ion-item href="#/detail">
          Link to detail page
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
