.point-content {
    padding-bottom: 5em;

    .point-content-title {
        font-weight: 200;
        font-size: 2.2em;
        font-family: inherit;
    }

    .point-content-head {
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: 400;
        padding: 1em 0;
        color: $darkgrey;
    }


}
