.main-menu {
    background: $app-color;
    width:      100vw !important;


    .item {
        background:    none;
        color:         $white;
        overflow: visible;
        line-height: 1;
        border: none
    }

    .item-content {
        background: none;
        font-size:     11vw;
        display: inline-block;
        line-height: 1;
        padding: 0;
    }

    .list {
        padding-left: 2em;
        min-height:          calc(80vh - 3.5em);
        display:         flex;
        flex-direction:  column;
        align-items:     flex-start;
        justify-content: center;
    }

    .main-menu-top-bar {
        text-align: right;
        padding:    0 .5em;
    }

    .close-button {
        color:   $black;
        display: inline-block;
    }

    .main-menu-all-route {

        margin: 1em 0;

        .item-content {
            font-size: 8vw;
        }
    }
}


